body {
	font-family: 'Raleway', sans-serif;
  	max-width : 1400px;
	min-width: 375px;
	margin: 0px 3%;
	position: relative;
}

a {
	text-decoration: none;
	color: #000000;
}

header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 6em;
}	

nav{
	height: 100%;
    display: flex;
    align-items: center;
}

.lien-nav{
    align-items: center;
    display: flex;
	padding: 2.3em;
}

#logo {
	height: 19px;
	width: 61.089656829833984px;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

#trouver-hebergement {
	margin: 1em;
}

h2 {
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
}

p {
	font-size: 16px;
	font-weight: 400;
}

form {
	display: flex;
	align-items: center;
}
/* Attention à ne pas appliquer une bordure sur l’intégralité du champ de
recherche, pour que le visuel corresponde à la maquette.
C'est écrit ça dans le guide mais est ce que ça veut dire que c'est le bouton bleu qui n'est pas entouré en gris? 
Il y a un decalage entre le contour gris et le fond gris a gauche de l'icone */
#ville-recherche {
    border: #d9d9d9 solid 0.1em;
    border-radius: 10px 0 0 10px;
}

.logo-info {
	padding: 1em;
    background-color: #d9d9d9;
	border-radius: 10px 0px 0px 10px;
	font-weight: bold;
}

#ville{
	border: none;
	width: 11em;
	line-height: 38px;
	font-size: 18px;
	margin: 0 1em;
}

#ville::placeholder{
	color: #000000;
	font-weight: bold;
}

#recherche {
	padding: 1.3em;
    border-radius: 0 10px 10px 0;
    border: 0;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway';
	font-weight: 700;
}
 
#loupe {
	display: none;
}

/*filtre*/

#filtre-barre{
	display: flex;
	font-weight: 700;
	align-items: center;
	font-size: 18px;
}

.filtre{
	display: flex;
	margin: 15px;
	padding: 10px 15px;
	border: #d9d9d9 solid 2px;
	border-radius: 20px;
	align-items: center;
}

#boutons-filtre {
	display: flex;
	flex-direction: row;
	font-size: 17px;
}

.filtre > i {       

	color: #0065FC;
	padding: 5px;
	margin-right: 5px;
}

/*infos*/

#infos {
	margin: 1.5em 0 2.5em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#logo-i {
	color: #0065FC;
	padding: 3px 8px;
    border: #D9D9D9 solid 1px;
    border-radius: 20px;
}

#texte-i {
	margin-left: 1em;
	width: 80%;
}

/*hebergements*/

#section-hebergements {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#hebergements {
	display: flex;
	flex-direction: column;
 	height: 675px;
	width: 65%;
	border-radius: 20px;
	background-color: #F2F2F2;
}

/* #tous-les-hebergements {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
*/

#hebergements > h2 {
	margin: 1.7em 2em;
}

/*cartes*/

#differents-hebergements {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	align-content: space-between; /* ne marche pas et je ne trouve pas pk*/
	margin: 0 2em;
	height: 475px;
}

.carte {
	height: 220px;
	min-width: 249px;
	width: 31%;
	background-color: #FFFFFF;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 8px 16px 0 #D9D9D9;
}

.carte > img {
	border-radius: 20px 20px 0px 0px;
	border: 5px solid #FFFFFF;
	height: 124px;
	width: 95%;
	margin: 0 auto;
	object-fit: cover;
}

.texte-carte {
    margin-left: 1em;
 }

h3 {
	font-size: 15px;
	margin: 0;
}

.prix-nuit {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
    padding: 5px 0;
    margin: 8px 0;
}

.icone-etoile {
	font-size: 12px;
	margin: 5px 0;
	color: #0065FC;
 } 
 
.etoile-grise {
	color: #F2F2F2;
 }
 /* :focus pour les étoiles de note */

.afficher-plus {
	margin: 3em 2.3em;
}
.afficher-plus > a {
	font-size: 18px;
	font-weight: 700;
}
/* populaire*/

#populaire {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	align-self: stretch;
	height: 675px;
	width: 30%;
	border-radius: 20px;
}

#titre-icone {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
}

#titre-icone > h2 {
	margin: 1.7em 2em;
}

#icone-populaire {
	color: #0065FC;
	font-size: 18px;
	margin-right: 2em;
}

#hebergements-populaires {
    display: flex;
	flex-direction: column;
	height: 90%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 2em 1.7em 2em;
}

.carte-populaire {
	background-color: #FFFFFF;
	border-radius: 20px;
	display: flex;
	box-shadow: 0 8px 16px 0 #D9D9D9;
	min-width: 292px;
	max-height: 154px;
}

.carte-populaire > img {
	border-radius: 20px 0px 0px 20px;
	border: 5px solid #FFFFFF;
	height: 144px;
	width: 137px;                /* a chznger en % */
	object-fit: cover;
}

.texte-carte-populaire {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
/*.nom-hotel {
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-between;
}*/

/* 2 erreur texte carte populaire et 1 erreur alignment carte hebergement*/
/*image des cartes plus de la meme taille quand on diminue l'ecran*/

/*activites a marseille*/
#section-activites {
	margin: 5em 2em 0 2em;
}
#differentes-activites {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
}

.carte-activite {
	display: flex;
	flex-direction: column;
	height: 435px;
	width: 23%;
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 #D9D9D9;
}

.img-activite {
	border-radius: 20px 20px 0px 0px;
	height: 370px;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
}

#section-activites h4 {
	margin-left: 1em;
	font-size: 16px;
}

/*footer*/

footer {
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
    height: 205px;
    margin: 4em 2em 0em 2em;
    padding: 3em 19.5em 0 3.5em;
}

.texte-footer {
	display: flex;
	margin: 3em;
}

footer h4 {
	font-size: 16px;
}

.liste-footer {
	list-style-type: none;
	padding: 0;
	line-height: 2em;
}


@media screen and (min-width: 992px) {
	.lien-nav:hover {
		border-top: #0065FC solid 0.2em;
		color: #0065FC;
	}

	.filtre:hover {
		background-color: #deebff;
	}
}

@media screen and (min-width: 767px) and (max-width: 991px){
	#section-hebergements {
		flex-direction: column;
		height: 1079px;
	}
	#hebergements {
		width: 100%;
	}
	#populaire {
		width: 100%;
		height: 300px;
	}
	#hebergements-populaires {
		flex-direction: row;

	}
	.carte-populaire {
		min-width: 249px;
		width: 31%;
		max-height: 154px;
	
	}
	.carte-activite {
		height: 250px;
		width: 21%;
	}

	.img-activite {
		height: 169px;
	}

	footer {
		padding: 3em 10em 0 3.5em;
	}
}
/*
#hebergements-populaires {
    display: flex;
	flex-direction: column;
	height: 90%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 2em 1.7em 2em;
}*/

@media screen and (max-width: 767px){

	body {
		margin: 0;
	}

	.marge-telephone {
		margin: 3%
	}

	header {
		flex-direction: column;
		justify-items: center;
		align-items: center;
		padding: 2em 0;
		width: 100%;
	}

	#logo {
		font-size: 16px;
	}

	nav {
		width: 100%;
		padding: 0;
		border-top: none;
	}

	.lien-nav {
		width: 50%;
		justify-content: center;
		border-bottom: #D9D9D9 solid 0.2em;
	}

	nav :active {
		border-bottom: #0065FC solid 0.2em;
	}
	
	#trouver-hebergement > p {
		margin-bottom: 35px;
	}

	#loupe {
		display: inline;
		padding: 1.3em;
		border-radius: 0 10px 10px 0;
		border: 0;
		background-color: #0065FC;
		color: white;
		font-family: 'Raleway';
		font-weight: 700;
	}

	#recherche {
		display: none;
	}

	#filtre-barre{
		display: flex;
		font-weight: 700;
		align-items: center;
		flex-direction: column;
	}
	
	#filtre-barre>*:first-child {
		align-self: stretch;
		margin: 0 1em;
	}
	
	#boutons-filtre {
		flex-wrap: wrap;
		justify-content: space-between
	}

	.filtre {
		min-width: 122px;
		font-size: 11px;
		width: 31%;
		margin: 10px;
	}

	.filtre > i {
		margin-right: 0px;
	}

	#texte-i {
		margin-left: 0.3em ;
	}

	#logo-i {
		margin-left: 6%;
	}

	#section-hebergements {
		flex-direction: column-reverse;
	}

	#populaire {
		width: 100%;
		align-self: stretch;
		border-radius: 0px;
		}

	#hebergements-populaires {
		max-width: 242px;
	}

	#titre-icone > h2 {
		margin: 1.7em 5%;
	}
	.carte-populaire {
	width: 95%;
    margin: 0 3%;	
	}
	
	#hebergements {
		width: 100%;
		align-self: stretch;
		border-radius: 0px;
		background-color: white;
	}


}
