body{
	font-family: 'Raleway', sans-serif;
  	max-width : 1400px;
	min-width: 375px;
	margin: 0px 3%;
}

a {
	text-decoration: none;
	color: #000000;
}

header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 6em;
}	

nav{
	height: 100%;
    display: flex;
    align-items: center;
}

.lien-nav{
    align-items: center;
    display: flex;
	padding: 2.3em;
}

#logo-booki {
	height: 20px;
	width: 61px;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

#trouver-hebergement {
	margin: 1em 0;
}

h2 {
	font-size: 22px;
	font-weight: 700;
	text-align: left;
}

p {
	font-size: 16px;
	font-weight: 400;
}

form {
	display: flex;
	align-items: center;
	height: 3em;
}

#ville-recherche {
    border: #d9d9d9 solid 0.1em;
    border-radius: 10px 0 0 10px;
	display: flex;
    align-items: center;
    height: 100%;
    width: 18em;
}

#label-logo-position {
	background-color: #d9d9d9;
	border-radius: 10px 0px 0px 10px;
	border: #D9D9D9 solid 1px;
    display: flex;
	align-items: center;
	justify-content: center;
	width: 17%;
	height: 100%;
	position: relative;
	top: 0px;
	left: -2px;
}

#ville{
	border: none;
	width: 11em;
	line-height: 38px;
	font-size: 18px;
	margin: 0 1em;
}

#ville::placeholder{
	color: #000000;
	font-weight: bold;
}

#recherche {
	padding: 1.3em;
    border-radius: 0 10px 10px 0;
    border: 0;
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway';
	font-weight: 700;
}
 
#loupe {
	display: none;
}

/*filtre*/

#filtre-barre{
	display: flex;
	font-weight: 700;
	align-items: center;
	font-size: 18px;
}

.filtre{
	display: flex;
	margin: 15px;
	padding: 10px 15px;
	border: #d9d9d9 solid 2px;
	border-radius: 30px;
	align-items: center;
}

#boutons-filtre {
	display: flex;
	flex-direction: row;
	font-size: 17px;
	cursor: pointer;
}

.filtre i {       

	color: #0065FC;
	padding: 5px;
	margin-right: 5px;
	font-size: 20px;
}

/*infos*/

#infos {
	margin: 1.5em 0 2.5em 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#logo-i {
	color: #0065FC;
    border: #D9D9D9 solid 1px;
	border-radius: 15px;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center
}

#texte-i {
	margin-left: 1em;
	width: 80%;
}

/*hebergements*/

#section-hebergements {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
}

#hebergements {
	display: flex;
	flex-direction: column;
 	height: 675px;
	width: 66%;
	border-radius: 20px;
	background-color: #F2F2F2;
}

#hebergements h2 {
	margin: 1.7em 2em 1em;
}

/*cartes*/

#differents-hebergements {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	align-content: space-between;
	margin: 0 2em;
	height: 475px;
}
.carte-article{
	width: 31%;
}
.carte {
    height: 14em;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 8px 16px 0 #D9D9D9;
}

.carte > img {
	border-radius: 20px 20px 0px 0px;
	border: 5px solid #FFFFFF;
	height: 124px;
	width: 95%;
	margin: 0 auto;
	object-fit: cover;
}

.texte-carte {
    margin-left: 1em;
	display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
 }

h3 {
	font-size: 16px;
	margin: 0;
}

.prix-nuit {
	display: flex;
	flex-wrap: wrap;
	font-size: 15px;
    padding: 5px 0;
	margin: 0;
}

.euros {
	font-weight: 600;
}

.icone-etoile {
	font-size: 12px;
	margin: 5px 0;
	color: #0065FC;
 } 
 
.etoile-grise {
	color: #F2F2F2;
 }

.afficher-plus {
	margin: 3em 2.3em;
}
.afficher-plus a {
	font-size: 18px;
	font-weight: 700;
}

/* populaire*/

#populaire {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	align-self: stretch;
	height: 675px;
	width: 31%;
	border-radius: 20px;
}

#titre-icone {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
}

#titre-icone h2 {
	margin: 1.7em 2em 1em;
}

#icone-populaire {
	color: #0065FC;
	font-size: 18px;
    margin: 1.7em 2.4em 1em;
}

#hebergements-populaires {
	display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
	margin-bottom: 2em;
}

.carte-populaire-article{
	display: flex;
	background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 #d9d9d9;
	width: 83%;
	height: 27%;
	border: 5px solid #FFFFFF;
	max-height: 10em;
}

.carte-populaire {
	display: flex;
	width: 100%;
	height: 100%;
}

.carte-populaire img {
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 8em;
}

.texte-carte-populaire {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 66%;
    margin: 3% 7% 0;
}

.prix-etoile {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72%;
}

/* activités */ 

#section-activites {
	margin-top: 4em;
	height: 31em;
}
#activites {
	margin-bottom: 1.2em;
}

#differentes-activites {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
}

.carte-activite-article {
	width: 23%;
	display: flex;
    justify-content: center;
}

.carte-activite {
	display: flex;
	flex-direction: column;
	height: 435px;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 #D9D9D9;
}

.img-activite {
	border-radius: 20px 20px 0px 0px;
	height: 85%;
	width: 100%;
	margin: 0 auto;
	object-fit: cover;
}

#section-activites h4 {
    padding-left: 1em;
    font-size: 16px;
    height: 15%;
    margin: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

/*footer*/

footer {
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
    height: max-content;
	margin: 4em 0;
    padding: 0 18.5em 0 0;
}

.texte-footer {
	display: flex;
    margin: 4em 5em;
	flex-direction: column;
}

footer h4 {
	font-size: 16px;
	margin: 0;
}

.liste-footer {
	list-style-type: none;
	padding: 0;
	line-height: 2em;
}


@media screen and (min-width: 992px) {
	.lien-nav:hover {
		border-top: #0065FC solid 0.2em;
		color: #0065FC;
	}

	.filtre:hover {
		background-color: #deebff;
	}
}

@media screen and (min-width: 767px) and (max-width: 991px){
	.lien-nav:active {
		border-top: #0065FC solid 0.2em;
		color: #0065FC;
	}

	#section-hebergements {
		flex-direction: column;
		height: 63em;
	}
	#hebergements {
		width: 100%;
	}
	#populaire {
		width: 100%;
		height: 18em
	}
	#hebergements-populaires {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.carte-populaire-article{
		flex-wrap: nowrap;
		width: 29%;
    	height: 100%;
		max-height: 9em;
	}

	.carte-populaire {
		flex-direction: row;
	}

	.carte-populaire > img {
		max-width: 6em;
	}

	#differentes-activites {
		justify-content: space-between;
		height: 17em;
	}

	.carte-activite-article {
		width: 21%;
		height: 100%;
	}

	.carte-activite {
		height: 100%;
		width: 100%;
		display: flex;
    	flex-direction: column;
	}

	#section-activites {
		height: 22em;
	}

	#section-activites h4 {
		font-size: 16px;
		margin: 0;
		padding-left: 1em;
		align-items: center;
		height: 20%;
	}

	.img-activite {
		height: 80%;
	}

	footer {
		padding: 2.5em 6em 0 1.5em;
		height: fit-content;
		justify-content: space-around;
	}

	.texte-footer {
		margin: 0em 2em;
	}
}

@media screen and (max-width: 767px){

	body {
		margin: 0;
	}

	.marge-telephone {
		margin: 3%
	}

	header {
		flex-direction: column;
		justify-items: center;
		align-items: center;
		width: 100%;
	}

	#logo-booki {
		font-size: 16px;
		padding: 0;
	}

	h1 {
		margin-bottom: 0;
	}

	nav {
		width: 100%;
		padding: 0;
		border-top: none;
	}

	.lien-nav {
		width: 50%;
		justify-content: center;
		border-bottom: #D9D9D9 solid 0.2em;
		padding-bottom: 1.3em;
	}

	nav :active {
		border-bottom: #0065FC solid 0.2em;
	}
	
	#trouver-hebergement {
		margin: 4.5em 1.5em 2.5em;
	}

	#trouver-hebergement p {
		margin-bottom: 35px;
	}

	#loupe {
		display: inline;
		padding: 1.3em;
		border-radius: 0 10px 10px 0;
		border: 0;
		background-color: #0065FC;
		color: white;
		font-family: 'Raleway';
		font-weight: 700;
	}

	#recherche {
		display: none;
	}

	#filtre-barre{
		display: flex;
		font-weight: 700;
		align-items: center;
		flex-direction: column;
	}

	#filtre-barre>*:first-child {
		align-self: stretch;
		margin: 0 1em;
	}
	
	#boutons-filtre {
		flex-wrap: wrap;
		justify-content: space-between
	}

	.filtre {
		min-width: 122px;
		font-size: 11px;
		width: 31%;
		margin: 10px;
	}

	.filtre i {
		margin-right: 0px;
	}

	#texte-i {
		margin-left: 0.3em ;
	}

	#logo-i {
		margin-left: 6%;
	}

	#infos {
		margin: 1.5em 0 2em 0;
	}
	
	#section-hebergements {
		flex-direction: column-reverse;
	}

	#populaire {
		width: 100%;
		border-radius: 0px;
		height: 36em;
    	padding-bottom: 2em;
		}
		
	#titre-icone {
		justify-content: space-between;
		width: 90%;
	}
	#titre-icone h2 {
		margin: 0.7em 1em
	}

	#icone-populaire {
		margin: 0;
	}

	#hebergements-populaires {
		min-width: 355px;
		margin: 0;
		justify-content: space-evenly;
		align-content: center;
		height: 100%;
	}

	.carte-populaire-article {
		min-width: 292px;
		max-width: 350px;
	}
	
	#differents-hebergements {
		width: 100%;
		margin: 0;
		height: 1420px;
		justify-content: center;
	
	}
	#hebergements {
		min-width: 335px;
		width: 100%;
		align-self: stretch;
		border-radius: 0px;
		background-color: white;
		margin: 0;
		height: 95em;
	}

	#hebergements h2 {
		max-width: 160px;
	}

	.carte-article{
		width: 100%;
		margin: 0 7%;
		min-width: 292px;
		max-width: 350px;
	}

	.afficher-plus {
		display: none;
	}
	#section-activites {
		display: flex;
		flex-direction: column;
	    height: 67em;
    	margin: 2em 2em 5em;
	}

	#activites {
		width: 120px;
		margin: 3em 0 0;
	}

	#differentes-activites {
		flex-direction: column;
		width: 100%;
		justify-content: space-around;
		height: inherit;
		align-content: center;
	}

	.carte-activite-article {
		width: 100%;
	}

	.carte-activite{
		height: 220px;
		width: 100%;
		min-width: 292px;
		max-width: 350px;
	}

	.img-activite {
		height: 70%;
	}

	footer {
		width: initial;
		height: fit-content;
		padding: 2em 1em;
		flex-direction: column;
		margin: 0;
	}

	.texte-footer {
		width: max-content;
		margin: 0.5em 2em;
		flex-direction: column;
	}
}



